fastapi
uvicorn[standard]
pydantic
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pytest
fastapi-filter
httpx
fastapi_pagination
email_validator
pytest 
pytest-asyncio 
pytest-alembic
orjson
sqlalchemy-utils
structlog